@import "../../shared/assets/styles/vars.scss";

.input {
    outline: none;
    border: 1px solid $black-priority;
    border-radius: 3px;
    padding: 11px 14px;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-family: "Inter";
    color: $black-priority;

    &::placeholder {
        font-family: "Inter";
        line-height: normal;
        font-size: 16px;
        font-weight: 400;
        color: rgba($color-text-priority, 0.3);
    }

    &__columns {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
    }

    &__error {
        margin-top: 5px;
        margin-left: 12px;
        font-size: 12px;
        color: #ff0000;
    }
}
