@import "../../shared/assets/styles/vars.scss";

.search {
    margin: 50px 0;

    &__inner {
        padding: 50px 50px 65px;
        background-color: $black-priority;
        border-radius: 3px;
    }
    &__title {
        font-size: 42px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    &__form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;

        label {
            width: 100%;
        }
    }
    &__select {
        max-width: 500px;
        width: 100%;
    }
    &__btn {
        display: flex;
        align-items: center;
        font-family: "Inter";
        gap: 10px;
        outline: none;
        border: none;
        border-radius: 3px;
        background: #fff;
        color: $black-priority;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 25px;
        cursor: pointer;
        span {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}

.categories {
    padding: 50px 0;
    &__title {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }
    &__items {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 100px;
        width: 100%;
        color: $black-priority;
        text-decoration: none;
    }
    &__img {
        display: flex;
        max-width: 100px;
        width: 100%;
        max-height: 100px;
        height: 100vh;
        object-fit: cover;
        background: $light-priority;
        border-radius: 8px;
        padding: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        box-shadow: 0 0 5px 2px rgba($black-priority, 0.1);
    }
    &__item_title {
        font-size: 21px;
        font-weight: 500;
        text-align: center;
    }
}

.products {
    padding: 50px 0 100px;
}

@media (max-width: 678px) {
    .categories {
        &__title {
            font-size: 26px;
        }
        &__items {
            gap: 20px;
        }
        &__item_title {
            font-size: 16px;
        }
    }
    .search {
        &__inner {
            padding: 35px 35px 40px;
        }
        &__title {
            font-size: 26px;
        }
        &__form {
            flex-direction: column;
        }
    }
}
