@import "../../shared/assets/styles/vars.scss";

.message {
    margin: 50px 0;
    &__box {
        max-height: 600px;
        min-height: 600px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-direction: column;
        border: 1px solid rgba($black-priority, 0.1);
        box-shadow: 0 0 5px 2px rgba($black-priority, 0.05);
        border-radius: 3px;
        padding: 20px 0 45px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        flex-grow: 1;
        padding: 25px 45px 0;
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($black-priority, 0.8);
            border-radius: 3px;
        }
    }
    &__form {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 45px;
    }
    &__btn {
        outline: none;
        border: none;
        border-radius: 3px;
        font-family: "Inter";
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        padding: 15px 40px;
        background: $black-priority;
        cursor: pointer;
    }
    &__textarea {
        outline: none;
        max-height: 50px;
        height: 100vh;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        border-radius: 3px;
        border: none;
        resize: none;
        border: 1px solid rgba($black-priority, 0.1);
        padding: 12px 20px;
    }
    &__chat_title {
        display: inline-flex;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        background: $light-priority;
        padding: 12px 30px;
        border-radius: 20px;
        margin: 0 auto;
        box-shadow: 0 0 5px 1px rgba($black-priority, 0.1);
    }
}
