@import "../../shared/assets/styles/vars.scss";

.list {
    &__item {
        color: $black-priority;
        text-decoration: none;
        box-shadow: 0 0 5px 2px rgba($black-priority, 0.1);
        border-radius: 8px;
        position: relative;
        overflow: hidden;
    }

    &__item_row {
        display: flex;
        align-items: center;
    }
    &__item_columns {
        &:nth-child(1) {
            max-width: 200px;
            width: 100%;
            max-height: 200px;
            height: 100vh;
            overflow: hidden;
        }
        &:nth-child(2) {
            width: 100%;
            max-height: 200px;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 30px;
        }
    }
    &__item_free {
        position: absolute;
        top: 0;
        left: 0;
        background: $black-priority;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 35px;
        border-bottom-right-radius: 8px;
    }
    &__item_img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    &__item_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item_title {
        max-width: 550px;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
    }
    &__item_location {
        font-size: 14px;
        font-weight: 400;
    }
    &__item_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        outline: none;
        border: none;
        background: transparent;
        width: 32px;
        height: 32px;
        margin-left: auto;
        padding: 0;
        cursor: pointer;
        svg {
            color: $black-priority;
            width: 24px;
            height: 24px;
        }
    }
    &__item_btns {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__item_price {
        font-size: 16px;
        font-weight: 400;
        span {
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__item_view {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        gap: 5px;
        span {
            display: flex;
            align-items: center;
            width: 18px;
            height: 18px;
        }
    }
}
@media (max-width: 770px) {
    .list {
        &__item_row {
            flex-direction: column;
        }
        &__item_img {
            max-width: 770px;
            width: 100%;
            border-radius: 8px;
        }
        &__item_columns {
            &:nth-child(1) {
                max-width: 100%;
                width: 100%;
                overflow: hidden;
            }
            &:nth-child(2) {
                width: 100%;
                padding: 20px;
            }
        }
    }
}
