@import "../../shared/assets/styles/vars.scss";

.list {
    &__title {
        width: 100%;
        background: $black-priority;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        border-radius: 3px;
        padding: 20px 30px;
        margin-bottom: 40px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    &__item {
        color: $black-priority;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 0 5px 2px rgba($black-priority, 0.1);
        position: relative;
    }
    &__item_img {
        width: 100%;
        max-height: 300px;
        height: 100vh;
        object-fit: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &__item_box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
    &__item_label {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    &__item_title {
        font-size: 18px;
        font-weight: 500;
    }
    &__item_location {
        font-size: 14px;
        font-weight: 500;
    }
    &__item_price {
        font-size: 21px;
        font-weight: 700;
    }
    &__item_likebox {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &__item_like {
        display: flex;
        justify-content: center;
        align-items: center;

        outline: none;
        border: none;
        background: #fff;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin-left: auto;
        padding: 0;
        box-shadow: 0 0 5px 2px rgba($black-priority, 0.3);
        cursor: pointer;
        svg {
            color: $black-priority;
            width: 24px;
            height: 24px;
        }
    }
    &__free {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 35px;
        background: $black-priority;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 3px;
    }
    &__paginations {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    &__pagination_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $black-priority;
        cursor: pointer;
    }
}
