@import "../../shared/assets/styles/vars.scss";

.list {
    &__title {
        width: 100%;
        background: $black-priority;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        border-radius: 3px;
        padding: 20px 30px;
        margin-bottom: 40px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    &__paginations {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    &__pagination_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $black-priority;
        cursor: pointer;
    }
}
