@import "../../shared/assets/styles/vars.scss";

.search {
    margin: 50px 0;
    &__inner {
        padding: 50px 30px;
        background: $black-priority;
        border-radius: 3px;
    }
}

.adverts {
    margin: 100px 0;
    &__search_title {
        font-size: 32px;
        font-weight: 500;
    }
}
