@import "../../shared/assets/styles/vars.scss";

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 20px 0;
    width: 100%;
    background: #f5f7f8;
    &__inner {
        max-width: 800px;
        min-height: 550px;
        height: auto;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background: #fff;
        overflow: hidden;
        border: 1px solid rgba($black-priority, 0.1);
        border-radius: 8px;
        box-shadow: 0 0 5px rgba($black-priority, 0.1);
        margin: 0 auto;
        padding: 50px;

        position: relative;
        &::after {
            position: absolute;
            content: "";
            background: url("../../shared/assets/img/login-banner.jpeg")
                no-repeat center;
            background-size: cover;
            right: 0;
            top: 0;
            width: 400px;
            height: 100%;
            z-index: 1;
            border-left: 1px solid $black-priority;
        }
    }
    &__title {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__subtitle {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__link {
        font-weight: 700;
        text-decoration: underline;
        color: $color-text-priority;
    }
}

@media (max-width: 820px) {
    .login {
        &__inner {
            align-items: center;
            min-height: auto;
            &::after {
                display: none;
            }
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
@media (max-width: 460px) {
    .login {
        &__inner {
            padding: 50px 30px;
        }
    }
}
